{{define "title"}}email verification{{end}}

{{define "main"}}
    <div class="vh-100 row flex-column justify-content-center align-items-center">
        <div class="col-4">
            {{template "barlio"}}
            <div class="row">
                <div class="card">
                    <div class="card-header">You,re almost there</div>
                    <div class="card-body">
                        <p>You need to verify your email address to activate your account.</p>
                        <div class="row">
                            <div class="col-3">
                                <a href="/emailverificationtoken" type="button" class="btn btn-primary">Proceed</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{end}}