{{define "title"}}Home{{end}}

{{define "main"}}
    <div class="row bg-primary bg-gradient" style="height: 75vh;">
        <div class="col-6">
            <div class="row flex-column justify-content-center align-items-center h-100">
                <div class="col-6">
                    <h1>Embark on a Global Reading Adventure</h1>
                </div>
                <div>{{template "pen"}}</div>
                <div class="col-6">
                    <p class="text-body-secondary">Uncover inspiring stories and pen you own journey</p>
                </div>
                <div class="col-6">
                    <button class="btn btn-light text-primary">GET STARTED</button>
                </div>
            </div>
        </div>
    </div>
{{end}}