{{define "title"}}Profile{{end}}

{{define "main"}}
<div class="row">
    <div class="col-3 mr-3">
        {{template "nav_settings" .}}
    </div>
    <div class="col-6 pt-4">
        <div class="row">
            <div class="col-4 order-2">
                <div id="photo_preview" class="rounded-circle border border-primary" style="width: 180px; height: 180px;" >
                    <img alt="profil_picture" src="#" style="width: 100%; height: auto;">
                </div>

                <form method="post" enctype="multipart/form-data" action="/userprofile">
                    <label for="profil_picture"><span class="btn btn-primary"><ion-icon name="camera-outline"></ion-icon></span></label>
                    <input type="file" name="profil_picture" id="profil_picture" class="form-control" style="display:none;" onchange="previewPhoto(event)">
                </form>
            </div>
            <div class="col-8 order-1">
                <form method="POST" action="/settings/profile">
                    <div class="mb-3">
                        <label class="form-label" for="firstname">Firstname</label>
                        <input type="text" name="firstname" id="firstname" class="form-control" value="{{.user.Firstname}}">
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="lastname">Lastname</label>
                        <input type="text" name="lastname"  id="lastname" class="form-control" value="{{.user.Lastname}}">
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="bio">Bio</label>
                        <textarea class="form-control" rows="4" name="bio" id="bio">{{.user.Bio}}</textarea>
                        <span class="form-text">Tell a bit about yourself</span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="birthdate">Birthdate</label>
                        <input class="form-control" type="date" name="birthdate" id="birthdate" value="{{formatdate .user.Birthdate}}">
                    </div>

                    <button class="btn btn-success" type="submit">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content"> 
            <div class="modal-header">
                <h1 class="modal-title fs-5">Crop image</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <button class="btn btn-success">Save</button>
            </div>

            <div class="modal-body">
                <div class="row justify-content-center vh-100">
                    <div class="mb-3 col-6 align-self-center">
                        <img id="photo_crop" src="#" alt="Photo de profil" style="max-width: 500px;">
                    </div>                   
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}