{{define "title"}}Profile{{end}}

{{define "main"}}
<div class="row">
    <div class="col-3 mr-3">
        {{template "nav_settings" .}}
    </div>
    <div class="col-6 pt-4">
        <div class="row">
            <div class="col-4 order-2">
                <form>
                    <input type="file" name="profil_picture">
                    <button class="btn btn-success" type="submit">Save</button>
                </form>
            </div>
            <div class="col-8 order-1 mr-3">
                <form method="POST" action="/settings/profile">
                    <div class="mb-3">
                        <label class="form-label" for="firstname">Firstname</label>
                        <input type="text" name="firstname" id="firstname" class="form-control" value="{{.user.Firstname}}">
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="lastname">Lastname</label>
                        <input type="text" name="lasttname"  id="lastname" class="form-control" value="{{.user.Lastname}}">
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="bio">bio</label>
                        <textarea class="form-control" name="bio" id="bio">{{.user.Bio}}</textarea>
                        <span class="form-text">Tell a bit about yourself</span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="birthdate">Birthdate</label>
                        <input class="form-control" type="date" name="birthdate" id="birthdate" value="{{.user.Birthdate}}">
                    </div>

                    <button class="btn btn-success" type="submit">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
{{end}}