{{define "title"}}Profile{{end}}

{{define "main"}}
<div class="row">
    <div class="col-3 mr-3">
        {{template "nav_settings" .}}
    </div>
    <div class="col-6 pt-4">
        <div class="row">
            <div class="col-4 order-2">
                <div class="position-relative" style="width: 180px; height: 180px;">
                    <div  class="rounded-circle border border-primary position-relative" style="width: 100%; height: 100%; overflow: hidden;" >  
                        <img id="preview" src="{{.profilPhoto}}" alt="profil_photo" style="position: absolute;"> 
                    </div>
                    <button class="btn btn-primary rounded-circle position-absolute end-0 bottom-0" style="width: 50px; height: 50px;" onclick="editPhoto()"><i class="bi bi-pencil-square"></i></button>
                </div>
            </div>
            <div class="col-8 order-1">
                <form method="POST" action="/settings/profile">
                    <div class="mb-3">
                        <label class="form-label" for="firstname">Firstname</label>
                        <input type="text" name="firstname" id="firstname" class="form-control" value="{{.user.Firstname}}">
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="lastname">Lastname</label>
                        <input type="text" name="lastname"  id="lastname" class="form-control" value="{{.user.Lastname}}">
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="bio">Bio</label>
                        <textarea class="form-control" rows="4" name="bio" id="bio">{{.user.Bio}}</textarea>
                        <span class="form-text">Tell a bit about yourself</span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="birthdate">Birthdate</label>
                        <input class="form-control" type="date" name="birthdate" id="birthdate" value="{{formatdate .user.Birthdate}}">
                    </div>

                    <button class="btn btn-success" type="submit">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content"> 
            <div class="modal-header justify-content-between">
                <form method="post" enctype="multipart/form-data" action="/userprofile">
                    <label for="profil_picture"><span class="btn btn-primary"><i class="bi bi-camera"></i></span></label>
                    <input type="file" name="profil_picture" id="profil_picture" class="form-control" data-bs-dismiss="modal" style="display:none;" onchange="changePhoto(event)">
                </form>
                <div>
                    <button class="btn btn-success mr-3" data-bs-dismiss="modal" onclick="previewPhoto()">Save</button>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            </div>

            <div class="modal-body">
                <div class="row justify-content-center vh-100">
                    <img id="crop" src={{.profilPhoto}} alt="Photo de profil">                  
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}