{{define "title"}}Security{{end}}

{{define "main"}}
<div class="row">
    <div class="col-3 mr-3">
        {{template "nav_settings" .}}
    </div>
    <div class="col-6 pt-4">
        <div class="row justify-content-between">
            <h4>Your Password</h4>  
            <div class="col-6"><p>auorehogognoe</p></div>
            <div class="w-auto"><button class="btn btn-info" type="button" data-bs-target="#changepassword" data-bs-toggle="collapse" aria-expanded="false" aria-controls="changepassword">Change</a></div>
        </div>

        <div class="row collapse ml-1" id="changepassword">
            <div>
                <h4>Change password</h4>
                <form method="POST" action="/security">
                    <div class="mb-3 row">
                        <div class="col-3"> 
                            <label for="newpassword" class="form-label">New password</label>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col">
                                    <input type="password" class="form-control" value="" id="newpassword" aria-describedby="passwordhelp">
                                </div>
                                {{ with .errors.password}}
                                <div class="col">
                                    <ul>
                                    {{range .}}
                                        <li>.</li>
                                    {{end}}
                                    </ul>
                                </div>
                                {{end}}
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="row">
                                <div class="form-text">at least 8 character</div>
                            </div>
                        </div> 
                    </div>
            
                    <div class="mb-3 row">
                        <div class="col-3"> 
                            <label for="newpasswordconfirm" class="form-label">Confirm password</label>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col">
                                    <input type="password" class="form-control" value="" id="newpasswordconfirm" aria-describedby="passwordconfirmhelp">
                                </div>
                                {{ with .errors.passwordconfirm}}
                                <div class="col">
                                    <ul>
                                    {{range .}}
                                        <li>.</li>
                                    {{end}}
                                    </ul>
                                </div>
                                {{end}}
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="w-auto">
                            <button class="btn btn-dark" type="button" data-bs-toggle="collaspe" data-bs-target="#changepassword">Cancel</button>
                        </div>
                        <div class="w-auto">
                            <a class="btn btn-warning" role="button" href="#">Change</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{end}}