{{define "main"}}
<div>
    <h2>Change password</h2>
    <form method="POST" action="/changepassword">
        <div class="mb-3 row">
            <div class="col-3"> 
                <label for="newpassword" class="form-label">New password</label>
            </div>
            <div class="col-3">
                <div class="row">
                    <div class="col">
                        <input type="password" class="form-control" value="" id="newpassword" aria-describedby="passwordhelp">
                    </div>
                    {{ with .errors.password}}
                    <div class="col">
                        <ul>
                        {{range .}}
                            <li>.</li>
                        {{end}}
                        </ul>
                    </div>
                    {{end}}
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="form-text col" id="passwordhelp">Enter your new password</div>
                    <div class="form-text col">at least 8 character</div>
                </div>
            </div> 
        </div>

        <div class="mb-3 row">
            <div class="col-3"> 
                <label for="newpasswordconfirm" class="form-label">Confirm password</label>
            </div>
            <div class="col-3">
                <div class="row">
                    <div class="col">
                        <input type="password" class="form-control" value="" id="newpasswordconfirm" aria-describedby="passwordconfirmhelp">
                    </div>
                    {{ with .errors.passwordconfirm}}
                    <div class="col">
                        <ul>
                        {{range .}}
                            <li>.</li>
                        {{end}}
                        </ul>
                    </div>
                    {{end}}
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="form-text" id="passwordconfirmhelp">Confirm your new password</div>
                </div>
            </div>
        </div>
    </form>
</div>
{{end}}