{{define "user"}}
    <div class="dropdown">
        <a class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <span><i class="fa-regular fa-user"></i></span>
        </a>
        <ul class="dropdown-menu">
        <li><p class="dropdown-item">{{.user.Username}}</p></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="/settings/profile">Settings</a></li>
        <li><a class="dropdown-item" href="/logout">Log out</a></li>
        </ul>
    </div>
{{end}}