{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{template "title"}}</title>

    <link href="statics/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
        {{if .showHeader }}
        <header>
            {{template "header" .}}
        </header>
        {{end}}
    
        <main>
            {{template "main" .}}
        </main>
    </div>
    <script src="statics/js/bootstrap.min.js"></script>
    <script src="statics/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/cd317bca92.js" crossorigin="anonymous"></script>
</body>
</html>
{{end}}